marker: \s*Begin\s+self-consistency\s+iteration\s+#\s+\d+
# Excessive white space
ignore: \s+
# CPU times:
ignore: \d+\.\d+\ss\b
# batch sizes:
ignore: \s*Number\s+of\s+batches\s*:\s*\d+
ignore: \s*Maximal\s+batch\s+size\s*:\s*\d+
ignore: \s*Minimal\s+batch\s+size\s*:\s*\d+
ignore: \s*Average\s+batch\s+size\s*:\s*\d+\.\d+
ignore: \s*Standard\s+deviation\s+of\s+batch\s+sizes\s*:\s*\d+\.\d+
# Some header lines
ignore: \s*Date\s*:\s*\d+,\s*Time\s*:\s*\d+\.\d+
ignore: \s*Time zero on CPU 1\s*:\s*[-+0-9.E]*\s*s\.
ignore: \s*Internal wall clock time zero\s*:\s*[-+0-9.E]*\s*s\.
# Other stuff
ignore: on host \S+ reporting
ignore: Time summed over all CPUs for.*
ignore: \| K-point:\s+\d+\s+at .*\(in
ignore: Initial seed for random number generator from system time.*
