# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

section_*.aux
appendix_*.aux
chapter_*.aux
FHI-aims.aux
FHI-aims.bbl
FHI-aims.blg
FHI-aims.brf
FHI-aims.idx
FHI-aims.ilg
FHI-aims.ind
FHI-aims.log
FHI-aims.out
FHI-aims.pdf
FHI-aims.toc
